/* Start flavours */
html:not(.style-scope),
body,
ytmusic-app-layout,
ytmusic-player-page,
ytmusic-player-bar,
ytmusic-nav-bar,
ytmusic-search-box,
ytmusic-guide-renderer,
ytmusic-carousel-shelf-renderer,
ytmusic-responsive-list-item-renderer {
  background-color: {{base00}} !important;
  color: {{base05}} !important;
}

i.material-icons,
tp-yt-paper-tab,
yt-formatted-string,
button,
.paper-icon-button {
  color: {{base05}} !important;
}

ytmusic-chip-cloud-chip-renderer,
ytmusic-toggle-button-renderer,
ytmusic-detail-header-renderer,
ytmusic-list-item-renderer,
ytmusic-player-queue-item {
  background-color: {{base00}} !important;
  color: {{base05}} !important;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: {{base00}};
}

::-webkit-scrollbar-thumb {
  background-color: {{base01}};
}
/* End flavours */

