! Start flavours
! Base16 Base16 Twilight (Restored)
! Scheme: From original Base16 Twilight

#define base00 #1c1f20
#define base01 #282c2e
#define base02 #34393b
#define base03 #404749
#define base04 #838184
#define base05 #fefef9
#define base06 #a7a7a7
#define base07 #ffffff
#define base08 #e2655e
#define base09 #d97e4a
#define base0A #fcbf49
#define base0B #a7c957
#define base0C #00cccc
#define base0D #3a86ff
#define base0E #9381ff
#define base0F #e9d985

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base09
*color10:      base01
*color11:      base02
*color12:      base04
*color13:      base06
*color14:      base0F
*color15:      base07
! End flavours


! ------------------------------------------------------------------------------
! Xft Font Configuration
! ------------------------------------------------------------------------------

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
Xft.dpi: 109






Xcursor.theme: default
Xcursor.size: 24
