/* Start flavours */
/**
 * Base16 Base16 Twilight (Restored) ROFI Color theme
 *
 * Authors
 *  Scheme: From original Base16 Twilight
 *  Template: Jordi Pakey-Rodriguez (https://github.com/0xdec), Andrea Scarpino (https://github.com/ilpianista)
 */

* {
    red:                         rgba ( 207, 106, 76, 100 % );
    blue:                        rgba ( 117, 135, 166, 100 % );
    lightfg:                     rgba ( 167, 167, 167, 100 % );
    background:                     rgba ( 37, 41, 42, 100 % );
    foreground:                  rgba ( 254, 254, 249, 100 % );
    lightbg:                  rgba ( 37, 41, 42, 100 % );
    background-color:            rgba ( 37, 41, 42, 0 % );
    separatorcolor:              @foreground;
    border-color:                @foreground;
    selected-normal-foreground:  @lightbg;
    selected-normal-background:  @lightfg;
    selected-active-foreground:  @background;
    selected-active-background:  @blue;
    selected-urgent-foreground:  @background;
    selected-urgent-background:  @red;
    normal-foreground:           @foreground;
    normal-background:           @background;
    active-foreground:           @blue;
    active-background:           @background;
    urgent-foreground:           @red;
    urgent-background:           @background;
    alternate-normal-foreground: @foreground;
    alternate-normal-background: @lightbg;
    alternate-active-foreground: @blue;
    alternate-active-background: @lightbg;
    alternate-urgent-foreground: @red;
    alternate-urgent-background: @lightbg;
    spacing:                     2;
}
/* End flavours */
