/* Obsidian Flavours Dynamic Snippet */
:root, .theme-dark, .theme-light {
  --background-primary: #{{base00-hex}};
  --background-secondary: #{{base01-hex}};
  --background-modifier-border: #{{base03-hex}};
  --background-modifier-hover: #{{base02-hex}};
  --background-modifier-selected: #{{base02-hex}};
  --background-modifier-accent: #{{base0D-hex}};
  --text-normal: #{{base05-hex}};
  --text-muted: #{{base04-hex}};
  --text-faint: #{{base03-hex}};
  --text-accent: #{{base0C-hex}};
  --text-error: #{{base08-hex}};
  --text-warning: #{{base09-hex}};
  --text-success: #{{base0B-hex}};
  --text-highlight-bg: #{{base0D-hex}};
  --interactive-accent: #{{base0D-hex}};
  --interactive-accent-hover: #{{base0C-hex}};
}
.markdown-preview-view h1 { color: var(--text-accent); }
.markdown-preview-view h2 { color: var(--text-normal); }
a { color: var(--interactive-accent); }
a:hover { color: var(--interactive-accent-hover); }
